<div class="menu-container">

  <h1 class="title">Donner Menu 🌯</h1>

  <div class="donnerMenu" *ngFor="let item of donners">
    <span class="item-name">{{ item.name }}</span>
    <span class="item-price">£{{ item.price.toFixed(2) }}</span>
  </div>

  <h2 class="title">Wraps 🌯</h2>

  <div class="donnerMenu" *ngFor="let item of wraps">
    <span class="item-name">{{ item.name }}</span>
    <span class="item-price">£{{ item.price.toFixed(2) }}</span>
  </div>
<h2 class="title">🔥 Fresh Shish Kebabs</h2>

  <div class="shishMenu" *ngFor="let item of freshShishKebabs">
    <span class="item-name">{{ item.name }}</span>
    <span class="item-price">£{{ item.price }}</span>
  </div>
</div>

